canvas {
	margin-top: 30px;
}

footer {
	height: 60px;
	background-color: #1EC6CD;
	color: #FEFEFC;
	font-family: "Josefin Slab", sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

footer > p {
	margin: 0;
	line-height: 60px;
}

.body {
	height: 100%;
	width: 100%;
}

.container-fluid {
	padding: 0px;
	height: 100%;
}

.header {
	/* padding: 20px 0; */
	background-color: #1EC6CD;
	font-weight: normal;
	text-align: center;
}

.title {
	color: white;
	text-transform: uppercase;
	font-family: "Lovelo Line", sans-serif;
	font-weight: bold;
	font-size: 5em;
}

.subtitle {
	font-family: "Josefin Slab", sans-serif;
	font-size: 1em;
	font-weight: bold;
}

canvas {
	border: 2px solid #E2E2E2;
}

.canvas-section {
	background-color: #FF414D;
	height: 560px;
	text-align: center;
}

.canvas-wrapper {
	margin: 0 auto;
	width: 500px;
	height: 500px;
	position:relative;
}

@media (max-width: 500px) {
	.canvas-wrapper {
		width: 300px;
		height: 300px;
	}

	canvas {
		width: 300px;
		height: 300px;	
	}
}

.settings {
	color: #FC4B4E;
	padding: 30px;
	background-color: #F7EFDA;
	height: 560px;
	font-family: "Josefin Slab", sans-serif;
	font-weight: bold;
}

.min-height-50 {
	min-height: 50px;
}

.float-right {
	float: right;
}
